**

!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!Dockerfile.prover-service

!crates/
!crates/**

!cairo/
!cairo/build/
!cairo/build/main.json
!cairo/packages/
!cairo/packages/garaga_zero/
!cairo/packages/garaga_zero/**
